@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: xx-large;
  font-weight: 800;
}
h2 {
  font-size: x-large;
  font-weight: 700;
}
h3 {
  font-size: larger;
  font-weight: 600;
}

p {
  font-size: large;
}
::selection {
  color: white;
  background-color: #35bdcd;
}

.Pagecss {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(242, 252, 249);
}

/* navbar logo design */
.logo {
  background-image: url("https://i.pinimg.com/736x/bc/ac/a6/bcaca611921b9c4307d835ec3d0745aa.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
  background-position: center;
}
